{% extends 'base.html' %}

{% block main %}

    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">{{ title|escape }}</h1>
      <p class="lead">{{ subtitle|escape }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description|escape }}</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">

        {% for id, tour in tours.items() %}

        <div class="col-12 col-md-6 col-lg-4" data-test="card">
            <div class="card mb-3" >
                <div class="card-img" data-test="picture" data-test="picture" style="background-image: url({{ tour.picture|escape }});"></div>
                <div class="card-body">
                    <h5 class="card-title">{{ tour.title|escape }}</h5>
                    <p class="card-text">{{ tour.description|escape|truncate(188) }}</p>
                    <a href="/tours/{{ id|escape }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

{% endblock %}