2. Выведите информацию о туре

– изучите мок-данные
– передайте нужные данные в шаблон
– отредактируйте шаблон: выведите направление, список туров
– проверьте результат

3. Доработайте главную страницу: выведите список туров

– изучите мок-данные
– передайте нужные данные в шаблон
– отредактируйте шаблон, выведите 6 туров (сортировка и выбор на ваше усмотрение)
– проверьте результат

4. Доработайте страницу направления: выведите список туров

– изучите мок-данные
– напишите логику фильтрации туров по direction=direction
– передайте нужные данные в шаблон
– отредактируйте шаблон: выведите направление, список туров
– проверьте результат


5. Вынесите повторяющиеся части шаблона в base.html

– шапку сайта
– подвал сайта

6. Сделайте коммит на Github, скопируйте ссылку в поле ниже!